<div id="footer">
    <div class="clearfix container">
        <div class="friend float_left" style="margin-left: 150px">
            <h1>友情链接</h1>
            <ul>
                <li>
                    天津大学
                </li>
                <li>   南开大学</li>
                <li>
                    天津工业大学
                </li>
                <li>
                    天津理工大学
                </li>
            </ul>
        </div>
        <div class="erweima clearfix float_left" style="margin-left: 100px">
            <h1>客户端下载</h1>
            <div style="float: left;margin-right: 10px">
                <div style="height:110px;width:100px;background-color: #c6c6c6">
                </div>
                <div style="text-align: center">
                    Android
                </div>
            </div>
            <div style="float: left">
                <div style="height:110px;width:100px;background-color: #c6c6c6">
                </div>
                <div style="text-align: center">
                    IOS
                </div>
            </div>
        </div>
        <div class="contract float_left" style="margin-left: 100px">
            <h1>联系方式</h1>
            <ul>
                <li>
                    地址:xxxxxxxxxx
                </li>
                <li>
                    电话:xxxxxxxxxx
                </li>
                <li>
                    邮箱:xxxxx@xxx.com
                </li>
            </ul>
        </div>
    </div>

</div>