<extend name="Common@Base/base"/>
<block name="title">
    新增企业用户
</block>
<block name="content">
    <form action="{:_U(add)}" method="post" class="form-horizontal normal-form">
        <div class="form-group">
            <label>用户名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-group">
            <label>企业名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="nickname" value="">
            </div>
        </div>
        <div class="form-group">
            <label>行业类型<span class="check-tips"></span></label>
            <div class="controls">
                <select name="category">
                    <volist name="Think.config.COMPANY_CATEGORY" id="vo">
                        <neq name="key" value="0">
                        <option value="{$key}">{$vo}</option>
                            </neq>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>企业属性<span class="check-tips"></span></label>
            <div class="controls">
                <select name="company_attr">
                    <volist name="Think.config.COMPANY_ATTR" id="vo">
                            <option value="{$key}">{$vo}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label >密码<span class="check-tips">（用户密码不能少于6位）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-group">
            <label >确认密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-group">
            <label >邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="email" class="text input-large" name="email" value="">
            </div>
        </div>
        <div class="form-group">
            <label>招聘名额<span class="check-tips">（企业招聘的名额限制）</span></label>
            <div class="controls">
                <input type="number" class="text input-large" name="quota" value="{$Think.config.COMPANY_QUOTA}">
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-sm btn-primary ajax-post"  type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
