<extend name="Common@Base/base"/>
<block name="title">
    {$meta_title|default="通过审核企业信息"}
</block>
<block name="content">
    <!--"Modules://BaiBang@index/aa"-->
    <div>
        <div class="btn-group">
            <button class="btn btn-sm btn-primary ajax-post" url="{:_U('resume')}" target-form="ids">启 用</button>
            <button class="btn btn-sm btn-primary ajax-post" url="{:_U('forbid')}" target-form="ids">禁 用</button>
            <button class="btn btn-sm btn-primary ajax-post confirm" url="{:_U('del')}" target-form="ids"
                    data-tip="确定要删除么?">删 除
                </button>
        </div>

        <div class="pull-right">
            <a href="#" id="adv_show">
                <i class="icon-chevron-up"></i>
            </a>
            <span class="input-icon">
                <input type="text" placeholder="搜索公司名称,按回车搜索" autocomplete="off" id="search">
                <i class="icon-search"></i>
			</span>
        </div>
    </div>
    <div class="panel panel-default" id="adv_search" style="display:none">
        <form class="search-form" method="post" action="{:_U(__CURRENT_ACTION__)}">
            <input type="hidden" name="type" value="0"/>
            <div class="panel-body table-responsive">
                <div class="panel-heading clearfix">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary" type="submit" target-form="search-form">搜索</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>企业名称：<input type="text" name="query_name"></td>
                            <td>行业类型：
                                <select name="query_category">
                                    <volist name="Think.config.COMPANY_CATEGORY" id="vo">
                                        <option value="{$key}">{$vo}</option>
                                    </volist>
                                </select>
                            </td>
                            <td>每页显示数量：
                                <select name="r">
                                    <option value="10">10</option>
                                    <option value="20">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="400">400</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" class="ace check-all">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>公司名称</th>
                <th>行业类别</th>
                <th>登录次数</th>
                <th>评论总分</th>
                <th>被评论次数</th>
                <th>最后登录时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="com">
                    <tr>
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ids ace" name="id[]" value="{$com.id}">
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="info" data-name="{$com.name}" data-id="{$com.id}">{$com.name}</a>
                        </td>
                        <td>{$com.category_text}</td>
                        <td>{:get_user_field($com['uid'],'login_times')}</td>
                        <td>{$com.score}</td>
                        <td>
                            {$com.comment_num}
                        </td>
                        <td>{:date('Y-m-d H:i',get_user_field($com['uid'],'last_login_time'))}</td>
                        <td>
                            {$com.status_text}
                        </td>
                        <td>
                            <a title="删除" class="confirm ajax-get"   href="{:_U('del',array('id'=>$com['id']))}">删除</a>
                            <if condition="$com['status'] eq 0">
                                <a title="启用" class="ajax-get"   href="{:_U('resume',array('id'=>$com['id']))}">启用</a>
                            </if>
                            <if condition="$com['status'] eq 1">
                                <a title="禁用" class="ajax-get"   href="{:_U('forbid',array('id'=>$com['id']))}">禁用</a>
                            </if>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>

        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="hide">
    <div id="user_info" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="group_check-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" style="text-align:center"></h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <i class="icon-spinner icon-spin orange bigger-300"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $('#adv_show').click(function(){
            var ele = $(this).find('i');
            if($(ele).hasClass('icon-chevron-up')){
                $("#adv_search").slideDown('fast');
                $(ele).removeClass('icon-chevron-up').addClass('icon-chevron-down');
            }else{
                $("#adv_search").slideUp('fast');
                $(ele).removeClass('icon-chevron-down').addClass('icon-chevron-up');
            }
        });
        $('.info').click(function(){
            $("#user_info .modal-title").empty().html($(this).text()+"的详细信息");
            $('#user_info').modal('show');
            var id = $(this).data('id')
            var url = "{:_U('info')}";
            var wait ='<div style="text-align: center"><i class="icon-spinner icon-spin orange bigger-300"></i></div>'
            $("#user_info .modal-body").empty().html(wait);
            $("#print_single").data('id',id);
            $.post(url,{'id':id},function(data){
                if($.isPlainObject(data)){
                    $("#user_info .modal-body").empty().html("<h1 class='center'>企业信息还未填写！</h1>");
                }else{
                    $("#user_info .modal-body").empty().html(data);
                }
            });
        });

        $(function() {
            //回车搜索
            $("#search").keyup(function(e) {
                if (e.keyCode === 13) {
                    var url =  "{:_U('index?query_name=PLACEHODLE')}";
                    var query = $('#search').val();
                    url = url.replace('PLACEHODLE',query);
                    window.location.href = url;
                    return false;
                }
            });
        });
        <if condition='$where'>
        !function(){
            $("#adv_search").show();
            var ele = $("#adv_show").find('i');
            $(ele).removeClass('icon-chevron-up').addClass('icon-chevron-down');
            <volist name='where' id='vo'>
            Think.setValue('{$key}','{$vo}');
            </volist>
        }();
        </if>
    </script>
</block>

