<!--footer-->

    <!--footer testimonail-->
    
   
   <div class="row" style="margin:0;">
    <div class="col-md-12 footer">
      <div class="footer_inner">
       <div class="lianj">
       <p>友情链接</p>
        <ul>
         <li><a>天津大学</a></li>
         <li><a>南开大学</a></li>
         <li><a>天津工业大学</a></li>
         <li><a>天津理工大学</a></li>
        </ul>
       </div>
       <div class="phone">
        <p>客户端下载</p>
         <div style="height:100px;">
          <div style="width:100px;height:100px;float:left; margin-left:20px; background-color:#FFF;"><img style="width:100px;" src="__THEME__/img/content/weixin.jpg" /></div>
          <div style="width:100px;height:100px;margin-left:70px; float:left;background-color:#FFF;"><img style="width:100px;" src="__THEME__/img/content/weixin.jpg" /></div>
         </div>
       </div>
       <div class="address">
        <p>地址:天津市西青区鑫茂科技园</p>
        <p>电话:13920344xxx</p>
        <p>邮箱:xxxxxxxx@gmail.com</p>
       </div>
      </div>
    </div>
   </div>
    </div>


<script type="text/javascript">
         var ThinkPHP = window.Think = {
            "ROOT"   : "__ROOT__", //当前网站地址
            "APP"    : "__APP__", //当前项目地址
            "PUBLIC" : "__PUBLIC__", //项目公共目录地址
            "DEEP"   : "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
            "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
            "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
        };
		
</script>

<script type="text/javascript" src="__VENDOR__/think.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
<script type="text/javascript" src="__VENDOR__/ace/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__VENDOR__/ace/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="__THEME__/js/main_page.js"></script>
<!--<script type="text/javascript" src="__THEME__/js/list_page.js"></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/jdi/job_cate.js"></script>
<script type="text/javascript" src="__THEME__/js/fenlei.js"></script>-->


