<!--footer-->
<footer id="footer">
    <!--footer testimonail-->
    
      <div>
        <hr>
       </div>
      <div class="row">
       <div class="bg con_center bottom" style="width:80%">
        <div class="col-md-2 bg yqlj">
         <label>友情链接:</label>
         <div>
          <ul>
           <li><a>南开大学</a></li>
           <li><a>天津大学</a></li>
           <li><a>理工大学</a></li>
           <li><a>南开大学</a></li>
           <li><a>天津大学</a></li>
           <li><a>理工大学</a></li>
          </ul>
         </div>
        </div>
        <div class="col-md-4 col-md-offset-6 bg">
         <label>客户端下载</label>
         <div>
          <img width="150px" src="__THEME__/img/content/weixin.jpg"/>
         </div>
         {:plugin('IPlistener')}
        </div>
       </div>
       
      </div>
      
        <div class="row">
         <div class="col-md-12" style="height:150px;">
         <hr />
             <h3 style="text-align: center">
                &copy; 时代科技
             </h3>
           </div>
        </div>
      </div>
</footer>


<script type="text/javascript" src="__VENDOR__/think.js"></script>
<script type="text/javascript" src="__THEME__/js/bootstrap.js"></script>
<script type="text/javascript" src="__THEME__/js/main_page.js"></script>
