<!--header and menu-->
<!--[if lt IE 8]>
<div class="alert alert-block alert-danger fade in" style="margin-bottom: 0">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a target="_blank" href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->

<div class="row bg_ti_color">
  <div style="width:100%;">
    <div class="col-md-12 bg" style="position:relative;">
      <ul class="h_title" id="h_title">
        <li ><a href="{:U('Home/Index/index')}">主页</a></li>
        <c:nav root="rootNav"  name="cat">
          <if condition="$cat['has_child'] neq 0">
            <li >
              <div class="btn-group"> <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {$cat['name']} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="margin-top:-1px;">
                  <volist name=":cat($cat['id'],true)" id="cat_child">
                    <li><a href="{$cat_child['url']}">{$cat_child['name']}</a></li>
                  </volist>
                </ul>
              </div>
            </li>
            <else/>
            <li> <a href="{$cat['url']}"> {$cat['name']} </a> </li>
          </if>
        </c:nav>
      </ul>
    </div>
  </div>
</div>
