<meta charset="utf-8" />
<title>{$title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="description" content="{$Think.config.WEB_SITE_DESCRIPTION}" />
<meta name="author" content="天津时代科技有限公司" />
<meta name="keyword" content="{$Think.config.WEB_SITE_KEYWORD}"/>
<meta name="renderer" content="webkit">
<!-- basic styles -->
<link href="__VENDOR__/ace/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__VENDOR__/ace/css/font-awesome.min.css" />

<!--[if IE 7]>
<link rel="stylesheet" href="__VENDOR__/ace/css/font-awesome-ie7.min.css" />
<![endif]-->
<link rel="stylesheet" href="__VENDOR__/ace/css/jquery.gritter.css" />
<!-- fonts -->

<!--[if !IE]> -->
<script type="text/javascript" src="__VENDOR__/ace/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript" src="__VENDOR__/ace/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__VENDOR__/ace/js/html5shiv.js"></script>
<script type="text/javascript" src="__VENDOR__/ace/js/respond.min.js"></script>
<![endif]-->
<link href="__THEME__/css/common.css" rel="stylesheet"/>
<link href="__THEME__/css/tx.css" rel="stylesheet"/>


<script type="text/javascript">
   var JPlaceHolder = {
    //检测
    _check : function(){
        return 'placeholder' in document.createElement('input');
    },
    //初始化
    init : function(){
        if(!this._check()){
            this.fix();
        }
    },
    //修复
    fix : function(){
        jQuery(':input[placeholder]').each(function(index, element) {
            var self = $(this), txt = self.attr('placeholder');
            self.wrap($('<div></div>').css({position:'relative', zoom:'1', border:'none', background:'none', padding:'none', margin:'none'}));
            var pos = self.position(), h = self.outerHeight(true), paddingleft = self.css('padding-left');
            var holder = $('<span></span>').text(txt).css({position:'absolute', left:pos.left, top:pos.top+7, height:h, lienHeight:h, paddingLeft:paddingleft, color:'#aaa'}).appendTo(self.parent());
            self.focusin(function(e) {
                holder.hide();
            }).focusout(function(e) {
                if(!self.val()){
                    holder.show();
                }
            });
            holder.click(function(e) {
                holder.hide();
                self.focus();
            });
        });
    }
};
//执行
jQuery(function(){
    JPlaceHolder.init();    
});
   </script>

